<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Correio do Amor</title>
    <meta name="description" content="Correio do Amor" />
    <meta name="keywords" content="correio, amor, setembro amarelo, desabafo, ajuda" />
    <meta name="author" content="IFTO - Dianópolis" />
    <link rel="shortcut icon" href="../favicon.ico"/>
    <link href="../static/stylesheets_2/css/common.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../static/stylesheets_2/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../static/stylesheets_2/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="../static/stylesheets_2/css/component.css" />
    <script src="../static/stylesheets_2/js/modernizr.custom.js"></script>
</head>


<div class="container">
        <ul id="gn-menu" class="gn-menu-main">
            <li class="gn-trigger">
                <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller">
                        <ul class="gn-menu">
                            <li class="gn-search-item">
                                <input placeholder="Busca" type="search" class="gn-search">
                                <a class="gn-icon gn-icon-search"><span>Busca</span></a>
                            </li>
                            <li>
                                <a href="/" class="gn-icon gn-icon-article"> Mural de Recados </a>
                            </li>
                            <li><a href="/galeria/" class="gn-icon gn-icon-pictures">Imagens</a></li>
                            <li><a href="http://www.youtube.com.br/" class="gn-icon gn-icon-videos">Videos</a></li>
                            <li><a href="/admin/" target="_blank"  class="gn-icon gn-icon-cog">Restrito</a></li>
                            <li><a href="/sobre/" class="gn-icon gn-icon-help">Sobre</a></li>
                        </ul>
                    </div><!-- /gn-scroller -->
                </nav>
            </li>
            <li><a href="/">CORREIO DO AMOR</a></li>
            <!--<li><a class="codrops-icon codrops-icon-prev" href=""><span>Previous Demo</span></a></li>-->
            <!--<li><a class="codrops-icon" href=""><span></span></a></li>-->
        </ul>
</div>

<script src="../static/stylesheets_2/js/classie.js"></script>
<script src="../static/stylesheets_2/js/gnmenu.js"></script>
<script>
    new gnMenu( document.getElementById( 'gn-menu' ) );
</script>