
<!DOCTYPE html>
<html lang="pt-br" class="no-js">

    {% include 'cabecalho_menu.html' %}

    <div class="center">

        <div class="article_wrapper">
            <h2>Equipe</h2>
            <ol class="list">
                <li> <P> </li>
                <li> <a href="https://www.facebook.com/antonio.guanacuy" target="_blank">Antonio Guanacuy Moura</a> - Editorial / Moderação </li>
                <li> <a href="https://www.facebook.com/medeirostavares" target="_blank">Fabiano Medeiros</a> - Programação Web </li>
                <li> <a href="https://www.facebook.com/mayke.melosantana" target="_blank">Mayke Melo Santana</a> - Editorial / Moderação </li>
                <li> <a href="https://www.facebook.com/michele.pereiravilasnovas" target="_blank">Michele Vilas Novas</a> - Editorial / Moderação </li>
                <li> <a href="https://www.facebook.com/michelle.melo.77" target="_blank">Michelle Melo Póvoa</a> - Design / Moderação </li>
                <li> <a href="https://www.facebook.com/stanio.vieira" target="_blank">Stanio de Sousa Vieira</a> - Editorial / Moderação </li>
                <li> <a href="https://www.facebook.com/yasmin.yasmindossantosalves" target="_blank">Yasmim dos Santos Alves</a> - Editorial / Moderação </li>
                <font> <BR> <font style="font-weight: bold";">Direitos Reservados: </font><br> <a target="_blank" href="http://dianopolis.ifto.edu.br/"> <font color="#00008b">2018 - IFTO - Campus Dianópolis</font></a></li>
            </ol>
        </div>
    </div>

    {% include 'rodape.html' %}

</html>
