
<!DOCTYPE html>
<html lang="pt-br" class="no-js">

    {% include 'cabecalho_menu.html' %}

    <div class="center">

        <div class="article_wrapper">
            <h2>Sobre</h2>
            <ol class="list_2">
                <li>

                &nbsp;Por que será que escrevemos nossos maiores segredos e desejos em um livro dividido em 365 dias?

                Nossos diários são confiados apenas a uma pessoa, porque pensamos que não existe ninguém mais confiável aos nossos segredos do que nós propriamente ditos, correto?

                <br>&nbsp;Mas com certeza em algum momento você deve ter ouvido a frase clichê de que "desabafar faz bem" e ela não seria clichê se não fosse verdade.

                Desabafar é dividir, é compartilhar seus sentimentos, permite que você veja seus pensamentos e problemas com outras pessoas que as enxergarão de outros ângulos, de outra perspectiva, essa é a intenção do correio do amor, aqui você pode compartilhar, desabafar e dividir com as pessoas do Campus o seus conflitos internos.

                <br>&nbsp;Que continuarão internos, pois o site é 100% anônimo, nem mesmo os moderadores possuem capacidade de saber quem enviou um recado.

                Queremos que este lugar seja seu porto seguro e que aqui você se sinta confortável em falar, aqui você perceberá que existem pessoas iguais a você, pessoas na qual você se identificará e que se identificarão com o que você tem a dizer.

                <font> <BR><BR> <font style="font-weight: bold";">Att. </font> <BR> <font style="font-weight: bold";">Mayke Melo Santana </font><br> <a href="/staff/"> <font color="#00008b">Equipe do Correio do Amor</font></a></li>

                </li>
            </ol>


        </div>
    </div>

    {% include 'rodape.html' %}
</html>
