
<!DOCTYPE html>
<html lang="pt-br" class="no-js">

    {% include 'cabecalho_menu.html' %}


    <div class="center">
        <div class="article_wrapper">
            <h2>Termos de Uso</h2>
            <!--<img width="300" height="220" src="../static/imgs/under_constr2.png" alt="" class="product_image"/>-->
            <ol class="list">

                <li> <P> </li>
                <li> 1. Não serão permitidas publicações de mensagens que firam a moralidade de outrem. </li>
                <li> 2. O site tem como objetivo ser um espaço para desabafo e ajuda mútua. </li>
                <li> 3. Mensagens e comentários com sentido negativo a isso não serão publicadas. </li>
                <li> 4. Não é permitido o uso de nomes de alunos, funcionários ou professores e etc. </li>
                <font> <BR> <font style="font-weight: bold";">Atenciosamente: </font><br> <a href="/staff/"> <font color="#00008b">Equipe do Correio do Amor</font></a></li>

            </ol>

        </div>
    </div>

    {% include 'rodape.html' %}

</html>
