<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Correio do Amor - Mural de Recados</title>
    <link href="{{ STATIC_URL }}stylesheets/common.css" rel="stylesheet" type="text/css" />
    <link href="../static/stylesheets/common.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<!-- Start Header -->
	<div id="header">
		<div class="container">

            <!--<h1><a href="#" title="Correio do Amor"> Correio do Amor<span></span></a></h1>-->

			<hr />
			<!-- top navigation -->
			<ul id="navigation">
				<li> <a href="/" title="Inicio">Inicio</a></li>
				<li><a href="/sobre/" title="Sobre">Sobre</a></li>
                <!--
				<li><a href="/contato/" title="Contato">Contato</a></li>
                <li><a target="_blank" href="http://webmail.crpgenesis.org" title="Entrar no Webmail">webMail</a></li>
                -->
                <li><a target="_blank" href="/admin/" title="Acesso à Administração do Site">Login</a></li>
			</ul>
			<hr />
			<!-- banner message and building background -->
			<div id="banner">
				&nbsp;&nbsp;&nbsp;<font color="#ffd700" size="+1">CORREIO DO AMOR</font><br><br>
				<!-- TEXTO1
                Você não precisa partir, sente-se aqui ao meu lado e me conta sobre a sua vida, sobre o caos dentro de
                ti, sobre seus medos e até mesmo de como foi seu dia.
                <BR>
                O seu mundo está pesado, eu sei, mas não precisa ser assim, divida ele comigo, deixa eu levar um pedaço
                para você.
                <BR>
                Deixa eu te mostrar que é cedo demais para ir embora sem tomar um chá e rir durante hora comigo; assistir
                a sua série favorita, dançar a sua música loucamente.
                <BR>
                E se for para você mesmo partir, se você tiver mesmo
                certeza disso, que seja em direção aos meus braços. Eu vou lutar por você...
                TEXTO1 -->

                Com o objetivo de te ajudar a colocar para fora
                <br>
                tudo aquilo que você gostaria de dizer para alguém
                <br>
                próximo sem precisar dizer quem você é...

                <a href="/quem_somos/" title="Mais"><font size="+1"> + </font></a>
			</div>
			<hr />
		</div>
	</div>
	<!-- Start Main Content -->
	<div id="main" class="container">
		<!-- left column (products and features) -->
		<div id="leftcolumn">
			<h3 class="leftbox">Menu</h3>
			<ul class="leftbox borderedlist">
                <li class="active"><a href="/" title="Página Inicial">Home</a></li>
                <!--<li class="active"><a href=" " title="Mural de Recados">Mural</a></li>-->
				<!--
                <li><a href=" " title="Cadastros">Pré-cadastro</a></li>
				<li><a href="/noticias/" title="Notícias">Notícias</a></li>-->
                <li><a href="/galeria/" title="Galeria de Fotos">Galeria</a></li>
                <!--<li><a href=" " title="Fale Conosco">Fale Conosco</a></li>
                -->
                <li><a href="/sobre/" title="Saiba mais...">Saiba +</a></li>
                <!--
                <li><a href="/tratamentos/" title="Tratamentos">Tratamentos</a></li>
                <li><a href="/infraestrutura/" title="Nossa Infraestrutura">Infraestrutura</a></li>
                <li><a href="/localizacao/" title="Nossa Localização">Localização</a></li>
                <li><a href="/doacoes/" title="Faça sua Doação">Doações</a></li>
                -->
			</ul>
			<h3 class="leftbox header_small">Missão</h3>
			<div class="leftbox features">
				<p>&nbspO Correio do Amor está aqui como modo de "desabafo" anônimo, aqui você nunca estará sozinho, diga
                    nos anonimamente como você está, como se sente e estaremos aqui para tentar te ajudar."</p>
				<a href="http://www.facebook.com/">Mayke Melo Santana<br></a>
                <font size="-2">Estudante</font>
			</div>
			<hr />
		</div>
		<!-- main content area -->

		<div id="center">
                {% if msg_enviada_sucesso %}
                    <div class="tarja_alert">
                    <font color="#fff" size="1">

                            <h4>
                                &nbsp;{{ msg_enviada_sucesso }}
                            </h4>

                    </font>
                    </div>
                {% endif %}

            <div class="article_wrapper">
				<h2>Mural de Recados</h2>

                {% for recado in recado %}
                    {% if recado.status == 'AP' and recado.recado.count != 0 %}
                    <div class="tit_coment_artigo">
                        <h5> &nbsp;&nbsp;Recado de <font color="#ffe4c4"> {{ recado.apelido }} </font></h5>
                    <div class="conteudo_artigo">



                            {{ recado }}



                    </div>


                    <div class="data_artigo">

                        <table>
                            <tr>

                                <td>
                                    <a href="comentario/{{ recado.id }}" class="button"> Comentar Recado</a>
                                    <a href="denuncia.html?id={{ recado.cod_recado }}" class="button"> Denunciar</a>
                                    Publicado há {{ recado.publicacao|timesince }}
                                </td>
                            </tr>
     						 </table>
                    </div>

                    <!--
                    <div class="conteudo_artigo">
                        <table>
                            <tr>
                                <td>
                                    <a href="comentario/{{ recado.id }}" class="button"> Comentar Recado</a>
                                    <a href="denuncia.html?id={{ recado.id }}" class="button"> Denunciar</a>
                                </td>
                            </tr>
     						 </table>
                    </div>
                    -->


                        {% for comentarios in comentarios %}
                            {% if comentarios.status == 'AP' and comentarios.recado_inline_id == recado.id %}
                        <div class="tit_coment_recado">
                            <h4> &nbsp;&nbsp;Comentário de <font color="#8b008b"> {{ comentarios.apelido }} </font></h4>
                        </div>
                        <div class="conteudo_artigo">


                            {{ comentarios }}

                        </div>
                    <div class="data_artigo">
                        Publicado há {{ comentarios.publicacao|timesince }}
                    </div>
                            {% endif %}
                    {% endfor %}

  			</div>

                        <div class="spacer">
                            <h4> &nbsp; </h4>
                        </div>
			{% endif %}




                {% endfor %}


			</div>

            <form method="post">

            <div class="article_wrapper">

  				<div class="titulo_artigo">

                    <h4>Deixe o seu recado... </h4>
    				<div class="conteudo_artigo">

      					<table>
                                {% csrf_token %}

                                {{ formulario_envio }}

                                <tr>

                                 <th><BR>&nbsp;</th>
        							 <td>
                                         <input type="submit" value="Enviar Recado" class="button"/>
                                         <a class="button"> Termos e Condições de Uso </a>
                                     </td>

                                </tr>

     						 </table>


                    </div>



  			</div>

			</div>
            </form>

			<hr />
		</div>
		<!-- product sales boxes -->
		<div id="rightcolumn">



            <div class="rightbox_wrapper">
				<div class="rightbox">
				  <div class="product_wrapper">
					<h4>Cultive o Amor</h4>
                    <img height="243" width="150" src="/static/imgs/foto_projeto.png" alt="" class="product_image"/>

                    <p><a href="/galeria/" title="Mais"> Mais...</a>
                  </div>
				</div>
			</div>

            <div class="rightbox_wrapper">
				<div class="rightbox">
					<div class="product_wrapper">
						<h4>A solução</h4>
                        <img src="/static/imgs/comprimido.jpg" alt="" class="product_image" />
						<br>O melhor remédio para curar um coração descontente é o amor. O diálogo tem o poder de curar. Estamos aqui para te ouvir... <a href="/galeria/" title="Mais"><font size="+1"> + </font></a>
					</div>
				</div>
			</div>

			<hr />
            <!--
            	<div class="rightbox_wrapper lastbox">
				<div class="rightbox">
					<div class="product_wrapper">
						<h4>O Álcool</h4>
                        <img src="/static/imgs/bebida.gif" alt="" class="product_image" />
						<br>O consumo consistente e excessivo de bebidas alcoólicas ao ponto que este comportamento interfira com a vida pessoal, familiar, social ou profissional da pessoa... <a target="_blank" href="http://pt.wikipedia.org/wiki/Alcoolismo" title="Mais"><font size="+1"> + </font></a>
					</div>
				</div>
			</div>
		-->
		</div>
	</div>
	<!-- Start Bottom Information -->
	{% include 'rodape.html' %}
</body>
</html>
